<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PublicKeyLoreal" value="C:\OneDrive - Funcional Mais\GMUDs\EPP_2018_SPT18 - [ACESSO-L'ÓREAL] ARQUIVOS FTP\pubkey F7DEB7A8E61B6D2819A59D318314F49DDF02A067.txt"/>
    <add key="EmailPublicKeyLoreal" value="msioffi@funcionalcorp.com.br"/>
    <add key="GnuPGPath" value="C:\OneDrive - Funcional Mais\C#\GnuPG Encryption\GnuPGBinary\GnuPG\bin"/>
  </appSettings>
</configuration>